


bady {


}





.gallery{
     list-style: none;
     display: flex;
     gap: 24px;
     flex-wrap: wrap;
     margin: auto;
}




.gallery__image {
width: 360px;
height: 200px;
}


.img_modal{

}